<Row>
  <Col span="12">

    <div className="panel friend-panel ">
      <div className="panel-head">好友</div>
      <div className="panel-body">

      </div>
      <div className="panel-foot">
        <Pagination size="small" total={50} />
      </div>
    </div>
  </Col>
  <Col span="12">
    <div className="panel friend-panel ">
      <div className="panel-head">申请列表</div>
      <div className="panel-body">
        <div className="friend-item">
          <img className="contact-avatar" src="https://ss0.baidu.com/7Po3dSag_xI4khGko9WTAnF6hhy/image/h%3D200/sign=71cd4229be014a909e3e41bd99763971/472309f7905298221dd4c458d0ca7bcb0b46d442.jpg" alt="" />
          <div className="ib">
            <div className="friend-name">
              伍峰杰
            </div>
            <div className="friend-desc">
              我想加你，可以吗？
            </div>
          </div>
          <div className="ib pull-right">

          </div>
        </div>

      </div>
      <div className="panel-foot">
        <Pagination size="small" total={50} />
      </div>
    </div>
  </Col>
</Row>
